#wrapper {
    width: 1000px;
    padding: 20px;
    margin: auto;
    background-color: #f8f7f7;
}

#welcome {
    font-size: 24px;
    margin: 20px 0;
    color: rgb(216, 157, 9);
}

li {
    list-style: none;
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    background-color: bisque;
    color: darkslategray;
    text-align: center;
}

img {
    border: 5px solid grey;
    border-radius: 10px;
    margin: 20px 0;
}

h1 {
    font: 48px 'Trebuchet MS', sans-serif;
}

footer {
    margin-top: 60px;
    font-size: 14px;
    text-align: left;
    color: grey;
}